# ==============================================
# MTK Policy Rule
# ============
# Date : WK14.48
# Operation : Migration
# Purpose : for MTK in-house trustzone
allow surfaceflinger mtee_device:chr_file { open read write ioctl };
# Purpose : HDMI output
#allow surfaceflinger bwc_prop:property_service set;
allow surfaceflinger sysfs:file write;
allow surfaceflinger graphics_device:chr_file read;

allow surfaceflinger dri_device:chr_file  { open read write ioctl };
allow surfaceflinger render_device:chr_file  { open read write ioctl };

